configuration {
 modi: "window,drun,ssh,combi";
 font: "JetBrains Mono 12";
 combi-modi: "window,drun,ssh";
 show-icons: true;
 icon-theme: "Papirus";
 disable-history: false;
 theme: "gruvbox.rasi";
}
